.game {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

/*lamp style*/
.lamp {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(
    rgba(187, 187, 187, 0.411),
    rgba(187, 187, 187, 0.13)
  );

  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.lamp img {
  /* background: black; */
  /* backdrop-filter: black 1px; */
  /* filter: grayscale(100%); */
  filter: brightness(0) invert(1);
  width: 160%;
  height: 160%;
  /* background: black; */
}
.lamp::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  filter: blur(1.5px);
  left: 10px;
  top: 2px;
  background: linear-gradient(rgba(255, 255, 255, 0.288), rgba(255, 0, 0, 0));
}
/*red lamp*/
.lamp.red {
  background: rgb(255, 70, 60);
  box-shadow: 0 0 20px 5px rgb(255, 70, 60);
}
.lamp.red::after {
  background: linear-gradient(rgba(255, 177, 150, 0.774), rgba(0, 0, 0, 0));
}

/*blue lamp*/
.lamp.blue {
  background: rgb(60, 70, 255);
  box-shadow: 0 0 20px 5px rgb(60, 70, 255);
}
.lamp.blue::after {
  background: linear-gradient(rgba(150, 177, 255, 0.774), rgba(0, 0, 0, 0));
  z-index: 0;
}

.lamps-row {
  display: flex;
  gap: 20px;
}

.lamp-svg {
  clip-path: ellipse(50% 50% at 50% 50%);
  transition: transform 0.3s ease;
}

.lamp:hover .lamp-svg {
  /* transform: scale(1.1); */
}

/*broken lamp*/
.lamp.broken {
  /* background: linear-gradient(
    rgba(136, 136, 136, 0.288),
    rgba(187, 187, 187, 0.13)
  ); */
  transform: scale(1.05);
}
.lamp.broken::after {
  /* background: linear-gradient(rgba(146, 146, 146, 0.212), rgba(0, 0, 0, 0)); */
}

.lamp.broken {
  mask-image: url(../assets/crashed.png);
  -webkit-mask-image: url(../assets/crashed.png);
  mask-size: 100%;
}

/* .st0{display:none;}
	.st1{display:inline;}
	.st2{clip-path:url(#SVGID_2_);}
	.st3{clip-path:url(#SVGID_2_);fill-rule:evenodd;clip-rule:evenodd;}
	.st4{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st5{display:inline;fill:none;stroke:#000000;stroke-miterlimit:10;} */

.solid {
  /* background: #484852; */
  visibility: hidden;
}
.solid::after {
  /* background: linear-gradient(rgb(103, 106, 129), rgb(65, 65, 80)); */
  /* background: linear-gradient(rgb(210, 213, 216), rgb(113, 113, 126));
  width: 95%;
  height: 95%;
  border-radius: 50%;
  left: 2.5%;
  top: 2%;
  filter: blur(0px); */
  /* display: ; */
  visibility: hidden;
}
